:root 
{
    --gs-primary: #febd00;
    --gs-secondary: #a5a5a5;
    --gs-tertiary: #EFF5FC;
    --gs-quaternary: #eaeaea;
}

.bg-gs-primary
{
    background-color: var(--gs-primary);
}

.bg-gs-secondary
{
    background-color: var(--gs-secondary);
}

.bg-gs-tertiary
{
    background-color: var(--gs-tertiary);
}

.bg-gs-quaternary
{
    background-color: var(--gs-quaternary);
}

.bg-gs-footer
{
    background-color: #f1f1f1;
}